<div class="row mb-5">
    <div class="col-1"></div>
    <div class="admin_nav col-10">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/admin/tweets" class="nav-link active">Tweets</a>
            </li>
            <li class="nav-item">
                <a href="/admin/users" class="nav-link active">Users</a>
            </li>
        </ul>
    </div>
</div>