<div class="row my-5">
    <div class="col-1"></div>
    <div class="admin_nav col-10">
        <ul class="nav justify-content-center">
            <li class="nav-item mr-5">
                <a href="/admin/tweets" class="nav-link active">
                    <h4>Tweets</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/users" class="nav-link active">
                    <h4>Users</h4>
                </a>
            </li>
        </ul>
    </div>
    <hr size="8px" align="center" width="80%">
</div>