<nav class="navbar  navbar-light bg-light d-flex justify-content-between">
    <div class="user_nav_left">
        <a class="navbar-brand" href="/tweets">
            <i class="fab fa-twitter mr-3 fa-2x text-primary"></i>
        </a>
        <a href="/users/{{loginUser.id}}/edit">
            Profile</a>
        {{!-- 加在這裡 --}}
    </div>
    <div class="user_nav_right">
        {{#ifCond loginUser.role  "admin" }}
        <a class="mr-3" href="/admin/tweets">Admin</a>
        {{/ifCond}}
        <a class="mr-3" href="/users/logOut">Logout</a>
    </div>
</nav>