{{> admin_nav }}
<div class="row">
    <div class="admiv_tweets col-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">USER</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">PUSH</th>
                    <th scope="col">FOLLOWER</th>
                    <th scope="col">LIKE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Name</td>
                    <td>Description</td>
                    <td>10</td>
                    <td>100</td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>