{{#if isAuthenticated}}
{{> user_nav }}
{{/if}}
<div class="row d-flex justify-content-around">
  <div class="col-2 user_profile_left">
    {{> user_profile_left }}
  </div>
  <div class="col-7">
    <h1>Followers </h1>
    <div class="row">
      {{#each userFollowers}}
      {{> user_card_min}}
      {{/each}}
    </div>
  </div>


</div>
</div>